:root{
    --color-primary:#172847;
    --color-button:#193b7a;
    --color-secondary:#0A0A14 ;
    --color-white:#E6E6E6 ;
    --color-hover:#00F0FF;
    --font-heading: 'Bangers',sans-serif;
    --font-body: 'Exo 2',sans-serif;
}
/* Reset basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Exo 2;
}
html {
    scroll-behavior: smooth;
  }
/* Style the body */
body {
    font-family:var(--font-body);
    background-color: var(--color-white);
}

/* Style the header */
header {
    background:url("../../img/dark-blue.jpg");
    background-size: cover;
    color: white;
    padding: 15px 50px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

/* Style the logo */
.logo {
    position: absolute;
    top:0;
    left:0;
    width: 100px;
    height: 100%;
}

/* Style the navbar */
.navbar {
    display: flex;
    gap: 30px; /* Space between navbar links */
}

/* Style navbar links */
.navbar a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s ease;
    font-family: Bangers;
}

/* Hover effect */
.navbar a:hover {
    background: #00F0FF;
    border-radius: 5px;
    transition: background 1s ease;
}
.submit{
    display: inline;
    cursor: pointer;
    border: none;
    background:none;
    font-size: 20px;
    color: white;
    padding-top: 11px;
  }
  .submit:hover{
    transform: scale(1.1);
  }
  h2{
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-size: 4em;
    margin-bottom: 20px;
   letter-spacing: 3px;
}
.btn {
    display: inline-block;
    padding: 12px 25px;
    background: rgb(176, 8, 8);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #960a0a;
}

#shop{
    border: solid 2px black;
    padding-top: 80px;
    height: min-content;
    padding-top:120px;
    min-height: 100vh ;
    text-align: center;
    background:var(--color-white);
}
h2{
    font-size: 2em;
    margin-bottom: 20px;
    color:#ae2e2e
}

.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card{
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 2s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card p{
    display: none;
    transition: all 2s ease;
}
.product-card:hover p{
    display:block;
}
.product-card img {
    width: 100%;
    height: 280px;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product-card p {
    font-size: 1.1em;
    color: #333;
}

.product-card button {
    border: none;
    background:var(--color-button);
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.product-card button:hover{
    background:var(--color-hover);
}

.search-container {
    display: flex;
    width: 500px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: #f5f5f5;
}

.search-container input {
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    background: transparent;
    outline: none;
    color: #555;
    border-right: 1px solid grey;
}

#search-button{
    background-color: #FDBA12;
    padding: 10px 15px;
    flex: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    gap: 2px solid black;

}
select{
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-right: 1px solid #ccc;
    background: transparent;
    outline: none;
    color: #555;
    
  }